
<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>SiteMap</h2>
          <ul class = "quick-links"><p>
          <li>About Us
          	<ul>
				<li>Profile</li>
				<li>History</li>
				<li>Mission and Vision</li>
				<li>Board of Directors and Executive Staff</li>
			</ul>
			</li>
			<li>Academics
			<ul>
				<li>Departments & Centres
				<ul>
					<li>Faculty of Civil Engineering</li>
					<li>Faculty of Mechanical Engineering</li>
					<li>Faculty of Electrical and ElectronicsEngineering</li>
					<li>Faculty of Information and CommunicationEngineering</li>
					<li>Faculty of Management Sciences</li>
					<li>Faculty of Science and Humanities </li>
				</ul>
			</li>
			<li>
				Courses offered
			</li>
			<li>
				Academics
			</li>
			<li>
				Departments
			</li>
			<li>
				Curriculum and Syllabi
			</li>
			</ul>
		</li>
		<li>
Admission
<ul>
	<li>
Under graduation
<ul>
	<li>
 Why CEG?
</li>
<li>
 Application Procedure
   <ul>
   	<li>
   Full Time
   </li>
   <li> 
   Part Time
	</li>
</ul>
</li>
</ul>
</li>
<li>
Post graduation
<ul><li> Why CEG?</li>
<li>Application Procedure</li>
<ul>   <li>Full Time </li>
   <li>Part Time</li>
</ul>
</ul>
</li>
<li>
NRI/Foreign National
<ul><li> Why CEG?</li>
<li>Application Procedure</li>
<ul>   <li>Full Time </li>
   <li>Part Time</li>
</ul>
</ul>
</li>
</li>
</ul>
<li>
Campus Life
<ul>
	<li>
Student Services
<ul>
 <li>Office of Student Affairs</li>
 <li> CUIC</li>
 <li> CPDE</li>
 <li> CIA</li>
 <li> ACOE</li>
 <li> SC/ST Cell</li></li>
 <li> Anti ragging</li>
</ul>
</li>
<li>
Facilities
<ul>
  <li>Computing</li>
  <li>Library</li>
  <li>Health Centre</li>
  <li>Student Services and Facilities</li>
</ul>
</li>
<li>
Festivals
<ul>
  <li>Kurukshetra</li>
  <li>Techofes</li>
  <li>Agni</li>
  <li>Sangarsh</li>
</ul>
</li>
<li>
Clubs and Societies
<ol>
   <li>Students Association of CEG</li>
   <li>Arts Society of CEG</li>
   <li>CEG Tech Forum(CTF)</li>
   <li>Guindy Times</li>
   <li>Literary Club of Anna University</li>
   <li>Robotics</li>
   <li>Rotaract Club of CEG</li>
   <li>Capitalize</li>
   <li>Quizzers Anonymous</li>
   <li>Theatron</li>
   <li>Siruthuligal</li>
   <li>CSAU</li>
   <li>Mathavam</li>
   <li>Saptham</li>
  <li>S<li>partanz</li>
  <li>Twisters</li>
  <li>Leo Club</li>
  <li>Green Brigade</li>
   <li>Sruthilaya</li>
  <li>Aakrithi</li>
   <li>SCI</li>
  <li>SQC</li>
</ol>	
</li>
<li>
Sports
  NSO
</li>
<li>
Institutional Social Responsibility Programs
<ul>
  <li>NSS</li>
  <li>YRC</li>
  <li>NCC</li>
</ul>
</li>
<li>
Accommodation 
</li>
</ul>
</li>
<li>
Research

Doing research in CEG

Research administration

Dedicated Research Centre

Integrated research and teaching 

Libraries 

</li>
<li>
Scholarship
</li>
<li>
Faculty
</li>
<li>
Alumni
</li>
<li>
Student Login
</li>
<li>
Contact Details
  </li>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
