
<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>SiteMap</h2>
          <ul class = "quick-links"><p>
          <li><span class="get-grey">About Us
          	<ul>
				<li><span class="get-grey">Profile</span></li>
				<li><span class="get-grey">History</span></li>
				<li><span class="get-grey">Mission and Vision</span></li>
				<li><span class="get-grey">Board of Directors and Executive Staff</span></li>
			</ul>
			</span></li>
			<li><span class="get-grey">Academics
			<ul>
				<li><span class="get-grey">Departments & Centres
				<ul>
					<li><span class="get-grey">Faculty of Civil Engineering</span></li>
					<li><span class="get-grey">Faculty of Mechanical Engineering</span></li>
					<li><span class="get-grey">Faculty of Electrical and ElectronicsEngineering</span></li>
					<li><span class="get-grey">Faculty of Information and CommunicationEngineering</span></li>
					<li><span class="get-grey">Faculty of Management Sciences</span></li>
					<li><span class="get-grey">Faculty of Science and Humanities </span></li>
				</ul>
			</span></li>
			<li><span class="get-grey">
				Courses offered
			</span></li>
			<li><span class="get-grey">
				Academics
			</span></li>
			<li><span class="get-grey">
				Departments
			</span></li>
			<li><span class="get-grey">
				Curriculum and Syllabi
			</span></li>
			</ul>
		</span></li>
		<li><span class="get-grey">
Admission
<ul>
	<li><span class="get-grey">
Under graduation
<ul>
	<li><span class="get-grey">
 Why CEG?
</span></li>
<li><span class="get-grey">
 Application Procedure
   <ul>
   	<li><span class="get-grey">
   Full Time
   </span></li>
   <li><span class="get-grey"> 
   Part Time
	</span></li>
</ul>
</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Post graduation
<ul><li><span class="get-grey"> Why CEG?</span></li>
<li><span class="get-grey">Application Procedure</span></li>
<ul>   <li><span class="get-grey">Full Time </span></li>
   <li><span class="get-grey">Part Time</span></li>
</ul>
</ul>
</span></li>
<li><span class="get-grey">
NRI/Foreign National
<ul><li><span class="get-grey"> Why CEG?</span></li>
<li><span class="get-grey">Application Procedure</span></li>
<ul>   <li><span class="get-grey">Full Time </span></li>
   <li><span class="get-grey">Part Time</span></li>
</ul>
</ul>
</span></li>
</span></li>
</ul>
<li><span class="get-grey">
Campus Life
<ul>
	<li><span class="get-grey">
Student Services
<ul>
 <li><span class="get-grey">Office of Student Affairs</span></li>
 <li><span class="get-grey"> CUIC</span></li>
 <li><span class="get-grey"> CPDE</span></li>
 <li><span class="get-grey"> CIA</span></li>
 <li><span class="get-grey"> ACOE</span></li>
 <li><span class="get-grey"> SC/ST Cell</span></li></span></li>
 <li><span class="get-grey"> Anti ragging</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Facilities
<ul>
  <li><span class="get-grey">Computing</span></li>
  <li><span class="get-grey">Library</span></li>
  <li><span class="get-grey">Health Centre</span></li>
  <li><span class="get-grey">Student Services and Facilities</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Festivals
<ul>
  <li><span class="get-grey">Kurukshetra</span></li>
  <li><span class="get-grey">Techofes</span></li>
  <li><span class="get-grey">Agni</span></li>
  <li><span class="get-grey">Sangarsh</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Clubs and Societies
<ol>
   <li><span class="get-grey">Students Association of CEG</span></li>
   <li><span class="get-grey">Arts Society of CEG</span></li>
   <li><span class="get-grey">CEG Tech Forum(CTF)</span></li>
   <li><span class="get-grey">Guindy Times</span></li>
   <li><span class="get-grey">Literary Club of Anna University</span></li>
   <li><span class="get-grey">Robotics</span></li>
   <li><span class="get-grey">Rotaract Club of CEG</span></li>
   <li><span class="get-grey">Capitalize</span></li>
   <li><span class="get-grey">Quizzers Anonymous</span></li>
   <li><span class="get-grey">Theatron</span></li>
   <li><span class="get-grey">Siruthuligal</span></li>
   <li><span class="get-grey">CSAU</span></li>
   <li><span class="get-grey">Mathavam</span></li>
   <li><span class="get-grey">Saptham</span></li>
  <li><span class="get-grey">S<li><span class="get-grey">partanz</span></li>
  <li><span class="get-grey">Twisters</span></li>
  <li><span class="get-grey">Leo Club</span></li>
  <li><span class="get-grey">Green Brigade</span></li>
   <li><span class="get-grey">Sruthilaya</span></li>
  <li><span class="get-grey">Aakrithi</span></li>
   <li><span class="get-grey">SCI</span></li>
  <li><span class="get-grey">SQC</span></li>
</ol>	
</span></li>
<li><span class="get-grey">
Sports
  NSO
</span></li>
<li><span class="get-grey">
Institutional Social Responsibility Programs
<ul>
  <li><span class="get-grey">NSS</span></li>
  <li><span class="get-grey">YRC</span></li>
  <li><span class="get-grey">NCC</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Accommodation 
</span></li>
</ul>
</span></li>
<li><span class="get-grey">
Research

Doing research in CEG

Research administration

Dedicated Research Centre

Integrated research and teaching 

Libraries 

</span></li>
<li><span class="get-grey">
Scholarship
</span></li>
<li><span class="get-grey">
Faculty
</span></li>
<li><span class="get-grey">
Alumni
</span></li>
<li><span class="get-grey">
Student Login
</span></li>
<li><span class="get-grey">
Contact Details
  </span></li>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
