
<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>SiteMap</h2>
          <ul class = "quick-links"><p>
          <li><a href="/" target="_blank"><span class="get-grey">About Us
          	<ul>
				<li><a href="/" target="_blank"><span class="get-grey">Profile</span></a></li>
				<li><a href="/" target="_blank"><span class="get-grey">History</span></a></li>
				<li><a href="/" target="_blank"><span class="get-grey">Mission and Vision</span></a></li>
				<li><a href="/" target="_blank"><span class="get-grey">Board of Directors and Executive Staff</span></a></li>
			</ul>
			</span></a></li>
			<li><a href="/" target="_blank"><span class="get-grey">Academics
			<ul>
				<li><a href="/academics/dept" target="_blank"><span class="get-grey">Departments & Centres
				<ul>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Civil Engineering</span></a></li>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Mechanical Engineering</span></a></li>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Electrical and ElectronicsEngineering</span></a></li>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Information and CommunicationEngineering</span></a></li>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Management Sciences</span></a></li>
					<li><a href="/" target="_blank"><span class="get-grey">Faculty of Science and Humanities </span></a></li>
				</ul>
			</span></a></li>
			<li><a href="/acadamics/course" target="_blank"><span class="get-grey">
				Courses offered
			</span></a></li>
			<li><a href="/academics/curr" target="_blank"><span class="get-grey">
				Academics
			</span></a></li>
			<li><a href="/academics/dept" target="_blank"><span class="get-grey">
				Departments
			</span></a></li>
			<li><a href="/acadamics/curr" target="_blank"><span class="get-grey">
				Curriculum and Syllabi
			</span></a></li>
			</ul>
		</span></a></li>
		<li><a href="/" target="_blank"><span class="get-grey">
Admission
<ul>
	<li><a href="/admission/ug" target="_blank"><span class="get-grey">
Under graduation
<ul>
	<li><a href="/admission/ug" target="_blank"><span class="get-grey">
 Why CEG?
</span></a></li>
<li><a href="/admission/ug" target="_blank"><span class="get-grey">
 Application Procedure
   <ul>
   	<li><a href="/admission/ug" target="_blank"><span class="get-grey">
   Full Time
   </span></a></li>
   <li><a href="/admission/ug" target="_blank"><span class="get-grey"> 
   Part Time
	</span></a></li>
</ul>
</span></a></li>
</ul>
</span></a></li>
<li><a href="/admission/pg" target="_blank"><span class="get-grey">
Post graduation
<ul><li><a href="/admission/pg" target="_blank"><span class="get-grey"> Why CEG?</span></a></li>
<li><a href="/admission/pg" target="_blank"><span class="get-grey">Application Procedure</span></a></li>
<ul>   <li><a href="/admission/pg" target="_blank"><span class="get-grey">Full Time </span></a></li>
   <li><a href="/admission/pg" target="_blank"><span class="get-grey">Part Time</span></a></li>
</ul>
</ul>
</span></a></li>
<li><a href="/admission/nri" target="_blank"><span class="get-grey">
NRI/Foreign National
<ul><li><a href="/admission/nri" target="_blank"><span class="get-grey"> Why CEG?</span></a></li>
<li><a href="/admission/nri" target="_blank"><span class="get-grey">Application Procedure</span></a></li>
<ul>   <li><a href="/admission/nri" target="_blank"><span class="get-grey">Full Time </span></a></li>
   <li><a href="/admission/nri" target="_blank"><span class="get-grey">Part Time</span></a></li>
</ul>
</ul>
</span></a></li>
</span></a></li>
</ul>
<li><a href="/" target="_blank"><span class="get-grey">
Campus Life
<ul>
	<li><a href="/campuslife/services" target="_blank"><span class="get-grey">
Student Services
<ul>
 <li><a href="/campuslife/services" target="_blank"><span class="get-grey">Office of Student Affairs</span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> CUIC</span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> CPDE</span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> CIA</span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> ACOE</span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> SC/ST Cell</span></a></li></span></a></li>
 <li><a href="/" target="_blank"><span class="get-grey"> Anti ragging</span></a></li>
</ul>
</span></a></li>
<li><a href="/campuslife/facilities" target="_blank"><span class="get-grey">
Facilities
<ul>
  <li><a href="/campuslife/facilities" target="_blank"><span class="get-grey">Computing</span></a></li>
  <li><a href="/campuslife/facilities" target="_blank"><span class="get-grey">Library</span></a></li>
  <li><a href="/campuslife/facilities" target="_blank"><span class="get-grey">Health Centre</span></a></li>
  <li><a href="/campuslife/facilities" target="_blank"><span class="get-grey">Student Services and Facilities</span></a></li>
</ul>
</span></a></li>
<li><a href="/campuslife/festivals" target="_blank"><span class="get-grey">
Festivals
<ul>
  <li><a href="/campuslife/festivals" target="_blank"><span class="get-grey">Kurukshetra</span></a></li>
  <li><a href="/campuslife/festivals" target="_blank"><span class="get-grey">Techofes</span></a></li>
  <li><a href="/campuslife/festivals" target="_blank"><span class="get-grey">Agni</span></a></li>
  <li><a href="/campuslife/festivals" target="_blank"><span class="get-grey">Sangarsh</span></a></li>
</ul>
</span></a></li>
<li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">
Clubs and Societies
<ol>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Students Association of CEG</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Arts Society of CEG</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">CEG Tech Forum(CTF)</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Guindy Times</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Literary Club of Anna University</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Robotics</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Rotaract Club of CEG</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Capitalize</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Quizzers Anonymous</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Theatron</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Siruthuligal</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">CSAU</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Mathavam</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Saptham</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">S<li><a href="/" target="_blank"><span class="get-grey">partanz</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Twisters</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Leo Club</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Green Brigade</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Sruthilaya</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">Aakrithi</span></a></li>
   <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">SCI</span></a></li>
  <li><a href="/campuslife/clubs" target="_blank"><span class="get-grey">SQC</span></a></li>
</ol>	
</span></a></li>
<li><a href="/campuslife/sports" target="_blank"><span class="get-grey">
Sports
  NSO
</span></a></li>
<li><a href="/campuslife/isrp" target="_blank"><span class="get-grey">
Institutional Social Responsibility Programs
<ul>
  <li><a href="/" target="_blank"><span class="get-grey">NSS</span></a></li>
  <li><a href="/" target="_blank"><span class="get-grey">YRC</span></a></li>
  <li><a href="/" target="_blank"><span class="get-grey">NCC</span></a></li>
</ul>
</span></a></li>
<li><a href="/campuslife/hnd" target="_blank"><span class="get-grey">
Accommodation 
</span></a></li>
</ul>
</span></a></li>
<li><a href="/" target="_blank"><span class="get-grey">
Research
<ul>
                <li>
                  <a href="/research/doing">Doing Research in CEG</a>
                </li>


                <li>
                  <a href="https://cfr.annauniv.edu/research/" target="_blank">Research Administration (Centre for Research)</a>
                </li>

                <li>
                  <a href="/research/centres">Dedicated Research Centres</a>
                </li>
                <li>
                  <a href="/research/irt">Integrated Research & Teaching</a>
                </li>
                 <li>
                  <a href="/research/library">Libraries</a>
                </li>
                
              </ul>
</span></a></li>
<li><a href="/scholar/list" target="_blank"><span class="get-grey">
Scholarship
</span></a></li>
<li><a href="http://adams.aukdc.edu.in:9090/fis/facprofile_campus.php" target="_blank"><span class="get-grey">
Faculty
</span></a></li>
<li><a href="http://cegam.in/" target="_blank"><span class="get-grey">
Alumni
</span></a></li>
<li><a href="http://acoe.annauniv.edu/student/" target="_blank"><span class="get-grey">
Student Login
</span></a></li>
<li><a href="/contact/details" target="_blank"><span class="get-grey">
Contact Details
  </span></a></li>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
