<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-3 top-padd" style="margin-top:50px">
          <h3>About Us</h3>
          <div class="list-group"><a href="/  " class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span><span class="cir"></span>
              Back to Home
            </button>
            </a>
            <a href="/" class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span><span class="cir"></span>
              About CEG 
            </button>
          </a>
            <a href="/staffnews" class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span><span class="cir"></span>
              Staff News
            </button>
          </a>
          </div>
        </div>
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>Student News</h2>
          <ul class = "quick-links">
            <% @studentnews.each do |studentnews| %>
              <li>
                <span class="desig"><%= raw(studentnews.stnews) %></span>
              </li>
            <% end %>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
