<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Department and Centres
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Courses Offered
					  </button>
					</a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Curriculum and syllabi
					  </button>
					</a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Courses Offered</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<h2>I Full Time</h2>
				<div>
					<h2>Faculty of Civil Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Civil Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Geo Informatics</span>
						</li>
						<li>
							<span class="desig">B.E Agricultural and Irrigation</span>
						</li>
					</ul>
					<h2>Faculty of Mechanical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Mechanical Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Industrial Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Manufacturing Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Mining Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Prining Technology</span>
						</li>
						<li>
							<span class="desig">B.E Manufacturing Engineering</span>
						</li>
					</ul>
					<h2>Faculty of Electrical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Electrical Engineering</span>
						</li>
					</ul>
					<h2>Faculty of Information and Communication</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Electrical and Electronics Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Computer Science and Engineering</span>
						</li>
						<li>
							<span class="desig">B.Tech Information Technology</span>
						</li>
						<li>
							<span class="desig">B.E Biomedical Engineering</span>
						</li>

					</ul>
				</div>
				<h2>II Part Time</h2>
			
				<ul class = "quick-links">
					<li>
						<span class="desig">Dean</span>
					</li>
					<li>
						<span class="desig">Dean</span>
					</li>
					<li>
						<span class="desig">Dean</span>
					</li>
					<li>
						<span class="desig">Dean</span>
					</li>
				</ul>
				
			</div>
			</div></div>
		</div>
			
		

		
