<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Departments
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Courses Offered
					  </button>
					</a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Curriculum and syllabi
					  </button>
					</a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Courses Offered</h2>
					<img src="/assets/ceggreen.jpg" width="840px" height="300px" >
				<h2>B.E/B.Tech</h2>
				<div >
					<h2>Faculty of Civil Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Civil Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Geo Informatics</span>
						</li>
						<li>
							<span class="desig">B.E Agricultural and Irrigation</span>
						</li>
					</ul>
					<h2>Faculty of Mechanical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Mechanical Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Industrial Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Manufacturing Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Mining Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Prining Technology</span>
						</li>
						<li>
							<span class="desig">B.E Manufacturing Engineering</span>
						</li>
					</ul>
					<h2>Faculty of Electrical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Electrical and Electronics Engineering</span>
						</li>
					</ul>
					<h2>Faculty of Information and Communication</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">B.E Electronics and Communication Engineering</span>
						</li>
						<li>
							<span class="desig">B.E Computer Science and Engineering</span>
						</li>
						<li>
							<span class="desig">B.Tech Information Technology</span>
						</li>
						<li>
							<span class="desig">B.E Biomedical Engineering</span>
						</li>

					</ul>
				</div>
				<h2>M.E/M.Tech</h2>
				<div >
					<h2>Faculty of Civil Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">M.E. Structural Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Construction Engineering and Management</span>
						</li>
						<li>
							<span class="desig">M.E. Irrigation Water Management</span>
						</li>
						<li>
							<span class="desig">M.E. Hydrology and Water Resources Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Environmental Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Transportation Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Soil Mechanics and Foundation Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Environmental Management</span>
						</li>
						<li>
							<span class="desig">M.E. Remote Sensing and Geomatics </span>
						</li>
						<li>
							<span class="desig">M.E. Integrated Water Resources Management </span>
						</li>
						<li>
							<span class="desig">M.Tech. Coastal Management</span>
						</li>
					</ul>
					<h2>Faculty of Mechanical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">M.E. Internal Combustion Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Energy Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Computer Integrated Manufacturing </span>
						</li>
						<li>
							<span class="desig">M.E.  Thermal Engineering  (with specialization in Refrigeration and Air Conditioning)</span>
						</li>
						<li>
							<span class="desig">M.E. Engineering Design </span>
						</li>
						<li>
							<span class="desig">M.E. Aeronautical Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Automobile Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Industrial Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Manufacturing Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Mechatronics  </span>
						</li>
						<li>
							<span class="desig">M.E. Manufacturing Systems and Management </span>
						</li>
						<li>
							<span class="desig">M.E. Product Design and Development</span>
						</li>
						<li>
							<span class="desig">M.E. Quality Engineering Management </span>
						</li>
						<li>
							<span class="desig">M.E. Computer Aided Design</span>
						</li>
						<li>
							<span class="desig">M.E. Printing and Packaging Technology </span>
						</li>
						<li>
							<span class="desig">M.E. Aerospace Technology</span>
						</li>
						<li>
							<span class="desig">M.E. Solar Energy </span>
						</li>
						<li>
							<span class="desig">M.E. Green Manufacturing
 (with specialization in Green Manufacturing Engineering)</span>
						</li>
					</ul>
					<h2>Faculty of Electrical Engineering</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">M.E. Power Systems Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Power Electronics and Drives </span>
						</li>
						<li>
							<span class="desig">M.E. Embedded System Technologies</span>
						</li>
						<li>
							<span class="desig">M.E. High Voltage Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Control and Instrumentation Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Instrumentation Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Power Engineering and Management</span>
						</li>
					</ul>
					<h2>Faculty of Information and Communication</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">M.E. Computer Science and Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Software Engineering</span>
						</li>
						<li>
							<span class="desig">M.E. Communication Systems </span>
						</li>
						<li>
							<span class="desig">M.E.VLSI Design </span>
						</li>
						<li>
							<span class="desig">M.E. Medical Electronics </span>
						</li>
						<li>
							<span class="desig">M.E. Multimedia Technology</span>
						</li>
						<li>
							<span class="desig">M.E. Bio Medical Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Communication and Networking</span>
						</li>
						<li>
							<span class="desig">M.E. Avionics </span>
						</li>
						<li>
							<span class="desig">M.E. Applied Electronics</span>
						</li>
						<li>
							<span class="desig"> M. Tech. Information Technology</span>
						</li>
						<li>
							<span class="desig">M. Tech. Laser and Electro Optical Engineering </span>
						</li>
						<li>
							<span class="desig">M.E. Systems Engineering and Operations Research</span>
						</li>
						<li>
							<span class="desig">Master of Computer Applications (M.C.A.)</span>
						</li>
						<li>
							<span class="desig">M.E. Computer Science and Engineering (Specialization in Big Data Analytics)</span>
						</li>
						<li>
							<span class="desig">M.E. Wireless Technologies</span>
						</li>
						<li>
							<span class="desig">M.E. VLSI Design and Embedded Systems</span>
						</li>
					</ul>
					<h2>M.Sc (2 years)/M.Sc (5 years)/M.Phil/M.B.A</h2>
					<h2>Faculty of Science and Humanities</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig">M.Sc. Applied Mathematics(2 years)  </span>
						</li>
						<li>
							<span class="desig">M.Sc. Medical Physics(2 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Applied Chemistry (2 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Applied Geology (2 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Materials Science (2 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Environmental Science (2 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Electronic Media  (2 years)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (Mathematics)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (Physics)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (Crystal Science)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (Chemistry)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (English)</span>
						</li>
						<li>
							<span class="desig">M. Phil. (Medical Physics)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Computer Science(5 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Information Technology(5 years)</span>
						</li>
						<li>
							<span class="desig">M.Sc. Electronic Media(5 years)</span>
						</li>
						<li>
							<span class="desig">Master of Business Administration (MBA) </span>
						</li>
						<li>
							<span class="desig">M.B.A. Tourism Management  </span>
						</li>
					</ul>
				</div>
			</div>
			</div></div>
		</div>
			
		

		
