<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Department and Centres
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Courses Offered
					  </button>
					</a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Curriculum and syllabi
					  </button>
					</a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Curriculum and Syllabi</h2>
					<img src="http://lorempixel.com/600/400/">
					<p>CEG follows the regulation syllabi as prescribed by Anna University.</p>
					<br><p>CEG currently subscribes to:</p>
					<li>R2012 (B.E , B.TECH) FULL TIME</li>
					<li>R2013 (B.E , B.TECH) PART TIME </li>
					<li>R2015(CBCS) - (B.E./B.TECH.) - I & II Semesters</li>
					<p>The detailed curriculum and syllabi is as listed:</p>
				<h2>I  Full time</h2>
				<div>
					<h3>Faculty of Civil Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/CIVIL.pdf">B.E Civil Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/GEO.pdf">B.E Geo Informatics</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/AGRI.pdf">B.E Agricultural and Irrigation</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Mechanical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/CIVIL.pdf">B.E Civil Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/GEO.pdf">B.E Geo Informatics</a>
						</li>
						<li>
							<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
						</li>
						<li>
							<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
						</li>
						<li>
							<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
						</li>
						<li>
							<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Electrical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/CIVIL.pdf">B.E Civil Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/GEO.pdf">B.E Geo Informatics</a>
						</li>
						<li>
							<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
						</li>
						<li>
							<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
						</li>
						<li>
							<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
						</li>
						<li>
							<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Information and Communication Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/CIVIL.pdf">B.E Civil Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/GEO.pdf">B.E Geo Informatics</a>
						</li>
						<li>
							<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
						</li>
						<li>
							<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
						</li>
						<li>
							<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
						</li>
						<li>
							<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
						</li>
					</ul>
				</div>
				<h2>II  Part time</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
				</ul>
			</div>
			</div></div>
		</div>
			
		

		
