<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Departments
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Courses Offered
					  </button>
					</a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Curriculum and syllabi
					  </button>
					</a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Curriculum and Syllabi</h2>
					<img src="/assets/academics/curriculum.jpg" width="840px" height="300px" >
					<p style="font-size:18px;">CEG follows the regulation syllabi as prescribed by Anna University.</p>
					<br><p style="font-size:18px;">CEG currently subscribes to:</p>
					<ul class = "quick-links">
					<li><span class="get-grey">R2012 (B.E , B.TECH) FULL TIME</span></li>
					<li><span class="get-grey">R2013 (B.E , B.TECH) PART TIME </span></li>
					<li><span class="get-grey">R2015(CBCS) - (B.E./B.TECH.) - I & II Semesters</span></li>
				</ul>
					<p style="font-size:18px;">The detailed curriculum and syllabi is as listed:</p>
				<h2>I  Full time</h2>
				<div>
					<h3>Faculty of Civil Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/AGRI.pdf" target="_blank">B.E Agricultural and Irrigation</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/CIVIL.pdf" target="_blank">B.E Civil Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/GEO.pdf" target="_blank">B.E Geo Informatics</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Mechanical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/MECH.pdf" target="_blank">B.E Mechanical Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/INDUSTRIAL.pdf" target="_blank">B.E Industrial Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/MANUFACTURING.pdf" target="_blank">B.E Manufacturing Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/MINING.pdf" target="_blank">B.E Mining Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/PRINTING.pdf" target="_blank">B.E Printing Technology</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/MATERIAL.pdf" target="_blank">B.E. Material Science and Engineering </a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Electrical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/EEE.pdf" target="_blank">B.E Electrical and Electronics Engineering</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Information and Communication Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/BIO%20MEDICAL.pdf" target="_blank">B.E Biomedical Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/COMPUTER_SCIENCE.pdf" target="_blank">B.E Computer Science and Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/ECE.pdf" target="_blank">B.E Electronics and Communication Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2012/docs/IT.pdf" target="_blank">B.Tech Information Technology</a>
						</li>
					</ul>
				</div>
				<h2>II  Part time</h2>
				<div>
					<h3>Faculty of Civil Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/CIVIL.pdf" target="_blank">B.E Civil Engineering</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Mechanical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/IND.pdf" target="_blank">B.E Industrial Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/MANUFACTURING.pdf" target="_blank">B.E Manufacturing Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/MECH.pdf" target="_blank">B.E Mechanical Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/PRINTING.pdf" target="_blank">B.E Printing Technology</a>
						</li>
						
					</ul>
				</div>
				<div>
					<h3>Faculty of Electrical Engineering</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/EEE.pdf" target="_blank">B.E Electrical and Electronics Engineering</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>Faculty of Information and Communication</h3>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/CSE.pdf" target="_blank">B.E Computer Science and Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/ECE.pdf" target="_blank">B.E Electronics and Communication Engineering</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/academic_courses/ud/ug/r2013_pt/docs/IT.pdf" target="_blank">B.Tech Information Technology</a>
						</li>
					</ul>
				</div>
				<h2>R2015 ( I & II Semesters)</h2>
				<div>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/WS%20%20UG%20(R-2015)-%20CBCS%20(I%20&%20II)%20-F/UG%20Table%20-%2029.07.15.doc" target="_blank">Syllabus</a>
						</li>
					</ul>
				</div>
				<h2>M.E / M.Tech / M.Sc</h2>
				<div>
					<ul class = "quick-links">
						<li>
							<a href="https://www.annauniv.edu/academic_courses/WS%20%20UG%20(R-2015)-%20CBCS%20(I%20&%20II)%20-F/UG%20Table%20-%2029.07.15.doc" target="_blank">Syllabus</a>
						</li>
					</ul>
				</div>
			</div>
			</div></div>
		</div>
			
		

		
