<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
						<span class="ghost"></span>
						<span class="cir"></span>
					  	Departments
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span>
					  	<span class="cir"></span>
					  	Courses Offered
					  </button>
					  </a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span>
					  	<span class="cir"></span>
					  	Curriculum and Syllabi
					  </button>

					  </a>				  
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Departments</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				
				<div class="col-md-9 top-padd">
					<h2>Faculty of Civil Engineering</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Agricultural Engineering</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/Civil/index.php">Department of Civil Engineering</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6 ">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Geoinformatics Engineering</a>
							</li>
						</ul>
					</div>
					
					
				</div>

			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Mechanical Engineering</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/industrial/">Department of Industrial Engineering</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/manufacturing/index.php">Department of Manufacturing Engineering</a>
							</li>
							<li>
								<a href="#">Department of Material Science and Engineering</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/dme/">Department of Mechanical Engineering</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/Mining/index.html">Department of Mining Engineering</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/PrintingTech/index.html">Department of Printing Technology</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Electrical Engineering</h2>
					<div class="container">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/EEE/">Department of Electrical Electronics Engineering</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
     		<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Information and Communication</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Biomedical Engineering</a>
							</li>
							<li>
								<a href="http://cs.annauniv.edu/">Department of Computer Science and Engineering</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/dece/index.php">Department of Electronics and Communication Engineering</a>
							</li>
							<li>
								<a href="http://www.auist.net/">Department of Information Science and Technology</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Management Science</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/management/">Department of Management Studies</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Science and Humanities</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							
							<li>
								<a href="http://www.chemistryannauniv.com/">Department of Chemistry</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/English/index.php">Department of Engilsh</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/Geology/index.html">Department of Geology</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/Maths/index.html">Department of Mathematics</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="https://www.annauniv.edu/MediaScience/index.html">Department of Media Sciences</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/MedicalPhysics/index.php">Department of Medical Physics</a>
							</li>
							<li>
								<a href="https://www.annauniv.edu/Physics/index.php">Department of Physics</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
</div>
			
		

		