<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Academics</h3>
					<div class="list-group"><a href="dept" class="button">
					  <button type="button" class="list-group-item cus-but">
						<span class="ghost"></span>
						<span class="cir"></span>
					  	Department and Centres
					  </button>
					  </a>
					  <a href="course" class="button">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span>
					  	<span class="cir"></span>
					  	Courses Offered
					  </button>
					  </a>
					  <a href="curr" class="button">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span>
					  	<span class="cir"></span>
					  	Curriculum and Syllabi
					  </button>

					  </a>				  
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Departments and Centers</h2>
					<img src="http://lorempixel.com/800/500/">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				
				<div class="col-md-9 top-padd">
					<h2>Faculty of Civil Engineering</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Civil Engineering</a>
							</li>
							<li>
								<a href="#">Centre for Environmental Studies</a>
							</li>
							<li>
								<a href="#">Centre for Water Resources</a>
							</li>
							<li>
								<a href="#">Division of Soil Mechanics and Foundation Management</a>
							</li>
							<li>
								<a href="#">Institute for Ocean Management</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6 ">
						<ul class="quick-links">
							<li>
								<a href="#">Institure of Remote Sensing</a>
							</li>
							<li>
								<a href="#">Structural Engineering Division</a>
							</li>
							<li>
								<a href="#">Division of Transportaion Engineering</a>
							</li>
							<li>
								<a href="#">Department of Geoinformatics Engineering</a>
							</li>
							<li>
								<a href="#">Department of Agricultural and Irrigation</a>
							</li>
						</ul>
					</div>
					
					
				</div>

			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Mechanical Engineering</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Mechanical Engineering</a>
							</li>
							<li>
								<a href="#">Department of Manufacturing Engineering</a>
							</li>
							<li>
								<a href="#">Department of Industrial Engineering</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Mining Engineering</a>
							</li>
							<li>
								<a href="#">Department of Printing Technology</a>
							</li>
							<li>
								<a href="#">Department of Material Science and Engineering</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Electrical Engineering</h2>
					<div class="container">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Electrical Engineering</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
     		<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Information and Communication</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Computer Science and Engineering</a>
							</li>
							<li>
								<a href="#">Department of Electrical and Electronics Engineering</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Centre for Medical Electronics</a>
							</li>
							<li>
								<a href="#">Department of Information Science and Technology</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Management Science</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Management Studies</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 top-padd">
				</div>
				<div class="col-md-9 top-padd">
					<h2>Faculty of Science and Humanitics</h2>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Engilsh</a>
							</li>
							<li>
								<a href="#">Department of Chemistry</a>
							</li>
							<li>
								<a href="#">Department of Geology</a>
							</li>
							<li>
								<a href="#">Department of Mathematics</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="quick-links">
							<li>
								<a href="#">Department of Media Sciences</a>
							</li>
							<li>
								<a href="#">Department of Physics</a>
							</li>
							<li>
								<a href="#">Department of Medical Physics</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
</div>
			
		

		