<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-3 top-padd" style="margin-top:50px">
          <h3>Scholarships</h3>
          <div class="list-group"><a href="http://ceg.annauniv.edu/Scholarship/List%20of%20Scholarship.pdf" target="_blank" class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span><span class="cir"></span>
              List of Scholarships
            </button>
            </a>
            <a href="/scholar/list" class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span><span class="cir"></span>
              Scholarship Details
            </button>
          </a>
          </div>
        </div>
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>Scholarships Details</h2>
          <img src="/assets/scholarship.jpg" width="840px" height="300px" >
          <p>CEG provides credible scholarship and support to all deserving students.With highly accommodative scholarship structure and student friendlyapplication procedure, CEG strives to motivate and encourage all students to become engineers par excellence.
          </p>
          <ul class = "quick-links">
          	<li><a href = "	http://ceg.annauniv.edu/Scholarship/1956-60_Alumni_Sch.pdf" target="_blank">1956-60 Alumni Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/1957_Guindians_Endowment.pdf" target="_blank">1957_Guindians Endowment Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/AMM_Murugappachettiar_centenary_sch.pdf" target="_blank">AMM_Murugappa_Centenary_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/AU_Ch_Students_welfare_Endw.pdf" target="_blank">AU_Ch_Students_welfare_Endw_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/Bank_of_Tokyo.pdf" target="_blank">Bank_of_Tokyo_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CEG_72.pdf" target="_blank">CEG_72_
Scholarship
</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CEG_1975.pdf" target="_blank">CEG_1975_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CEG_1984.pdf" target="_blank">CEG_1984_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CEG_golden_jubilee.pdf" target="_blank">CEG_Golden_Jubliee_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/Central_Sector_2013.pdf" target="_blank">Central_Sector_2013_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CSE_Alumini.pdf" target="_blank">CSE_Alumni_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/CTS_fresh.pdf" target="_blank">CTS_Fresh_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/GUINDY_CLASS_OF_1973.pdf" target="_blank">Guindy_Class_Of_1973_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/guindy_eng_62_trust.pd" target="_blank">Guindy_Eng_62_Trust
-Scholarship
</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/Krishnamurthy_award.pdf" target="_blank">Krishnamurthy_Award_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/Madras_Dock_Lab_ambedkar.pdf" target="_blank">Madras_Dock_Lab_Ambedkar_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/merit.pdf" target="_blank">Merit_Scholarship</a></li>


<li><a href = "http://ceg.annauniv.edu/Scholarship/MGMI.pdf" target="_blank">MGMI_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/MGR_SCH.pdf" target="_blank">MGR_scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/nhfdc_trust_fund.pdf" target="_blank">NHFDC_Trust_Fund_Scholarship</a></li>

<li><a href = "http://ceg.annauniv.edu/Scholarship/north_south_foundation.pdf" target="_blank">North_South_Foundation_Scholarship</a></li>

<li><a href= "http://ceg.annauniv.edu/Scholarship/TNET_scholarship.pdfarget="_blank">TNET_Scholarship

</a></li>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
