<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-12 top-padd gallery" style="margin-top:50px">
          <h2>Gallery</h2>
          <ul class="img-container">
            <% @galleries.each do |gallery| %>
            <li class="col-md-4 col-sm-6 col-xs-12 galr-pad">
              <center>
                <%= image_tag gallery.image(:display) %>
                <span class="galr-head"><%= link_to gallery.title , gallery %></span>
              </center>
            </li>
            <% end %>
          </ul>
          
        </div>
      </div>
      
</div>
      






