<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-3 top-padd" style="margin-top:50px">
          <h3>Gallery</h3>
          <div class="list-group"><a href="dept" class="button">
            <button type="button" class="list-group-item cus-but">
            <span class="ghost"></span>
            <span class="cir"></span>
              What to display!!
            </button>
            </a>
            <a href="course" class="button">
            <button type="button" class="list-group-item cus-but">
              <span class="ghost"></span>
              <span class="cir"></span>
              What to display!!
            </button>
            </a>
            <a href="curr" class="button">
            <button type="button" class="list-group-item cus-but">
              <span class="ghost"></span>
              <span class="cir"></span>
              What to display!!
            </button>
            </a>          
          </div>
        </div>
        <div class="col-md-9 top-padd" style="margin-top:50px">
          <h2>Gallery</h2>
          <ul class="img-container">
            <% @galleries.each do |gallery| %>
            <li class="col-md-4 pad-bot">
              <%= image_tag gallery.image(:display) %>
              <%= link_to gallery.title , gallery %>
            </li>
            <% end %>
          </ul>
          
          
        </div>
      </div>
      
</div>
      






