<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-12 top-padd" style="margin-top:50px">
          <h2><%= @gallery.title %></h2>
  
     <center>
		<%= image_tag  @gallery.image %>
             <br/>  
 <%= link_to 'Back to Gallery', galleries_path, class:"btn btn-danger" %>
  </center>
      </div>
      </div>
      </div></div>
    </div>
      