<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="profile" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					  </a>
					  <a href="history" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	History of CEG
					  </button>
					</a>
					  <a href="mission" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Our Mission
					  </button>
					</a>
					  <a href="board" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Board of Directors
					  </button>
					  </a>
					  <a href="board#executive" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Executive Staff
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Board of Directors</h2>
					<img src="http://lorempixel.com/600/400/">
				<h2>University Administrators</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Dr P Narayanasamy</span>
					</li>
					<li>
						<span class="desig col-md-6">Vice-Chancellor</span><span class = "pers">Dr. M. Rajaram</span>
					</li>
					<li>
						<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
					</li>
					<li>
						<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
					</li>
					<li>
						<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
					</li>
					<li>
						<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
					</li>
				</ul>
				<h2>Chairpersons</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
				</ul>
			</div>
			</div></div>
		</div>
			
		

		
