<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="profile" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					  </a>
					  <a href="history" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	History of CEG
					  </button>
					</a>
					  <a href="mission" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Our Mission
					  </button>
					</a>
					  <a href="board" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Board of Directors
					  </button>
					  </a>
					  <a href="board#executive" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Executive Staff
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Board of Directors</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
				<h2>University Administrators</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Dr P Narayanasamy</span>
					</li>
					<li>
						<span class="desig col-md-6">Vice-Chancellor</span><span class = "pers">Dr. M. Rajaram</span>
					</li>
					<li>
						<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
					</li>
					<li>
						<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
					</li>
					<li>
						<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
					</li>
					<li>
						<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
					</li>
				</ul>
				<div id="executive">
					<h2>Chairpersons</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">Faculty of Civil Engg.</span><span class = "pers">Dr. K. Ilamparuthi</span>
						</li>
						<li>
							<span class="desig col-md-6">Faculty of Mechanical Engg.</span><span class = "pers">Dr. L.Karunamoorthy</span>
						</li>
						<li>
							<span class="desig col-md-6">Faculty of Electrical Engg.</span><span class = "pers">Dr.B.Umamaheswari</span>
						</li>
						<li>
							<span class="desig col-md-6">Faculty of Information & Commuication Engg.</span><span class = "pers">Dr.V.Vaidehi</span>
						</li>
						<br>
						<li>
							<span class="desig col-md-6">Faculty of Management Science</span><span class = "pers">Dr.G.Rajendran</span>
						</li>
						<li>
							<span class="desig col-md-6">Faculty of Science & Humanities</span><span class = "pers">Dr.K.Shanthi</span>
						</li>
						<li>
							<span class="desig col-md-6">Sports Board</span><span class = "pers">Dr.S.Selladurai</span>
						</li>
					</ul>
					<h2>Deputy Chairpersons</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">University Sports Board</span><span class = "pers">Dr. N.Thangaraj</span>
						</li>
						<li>
							<span class="desig col-md-6">University Sports Board</span><span class = "pers">Dr. K.M.Veerabadran</span>
						</li>
						<li>
							<span class="desig col-md-6">University Sports Board</span><span class = "pers">Dr.A.Kavitha</span>
						</li>
						<li>
							<span class="desig col-md-6">University Sports Board</span><span class = "pers">Thiru.S.Santhakumar</span>
						</li>
					</ul>
					<h2>Directors</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">Admissions</span><span class = "pers">Dr.G.Nagaraja</span>
						</li>
						<li>
							<span class="desig col-md-6">AU-FRG Institute for CAD/CAM</span><span class = "pers">Dr.Latha Nagendran</span>
						</li>
						<li>
							<span class="desig col-md-6">AU-RU UEC</span><span class = "pers">Dr.S.Chandramohan</span>
						</li>
						<li>
							<span class="desig col-md-6">Educational Multimedia Research Centre</span><span class = "pers">Dr.S.Gowri</span>
						</li>
						<li>
							<span class="desig col-md-6">Empowerment of Women</span><span class = "pers">Dr.S.Lakshmi</span>
						</li>
						<li>
							<span class="desig col-md-6">Entrepreneurship Development</span><span class = "pers">Dr.G.Ravikumar</span>
						</li>
						<li>
							<span class="desig col-md-6">Environmental Studies</span><span class = "pers">Dr.S.Kanmani</span>
						</li>
						<li>
							<span class="desig col-md-6">Faculty Development</span><span class = "pers">Dr.D.Mohan</span>
						</li>
						<li>
							<span class="desig col-md-6">Health Centre</span><span class = "pers">Dr.L.Suganthi</span>
						</li>
						<li>
							<span class="desig col-md-6">Intellectual Property Rights</span><span class = "pers">Dr.T.N.Shanmugam</span>
						</li>
						<li>
							<span class="desig col-md-6">International Affairs</span><span class = "pers">Dr.A.Azad</span>
						</li>
						<li>
							<span class="desig col-md-6">Knowledge Data Centre</span><span class = "pers">Dr.D.George Washington</span>
						</li>
						<li>
							<span class="desig col-md-6">Prevention of sexual harassment cell</span><span class = "pers">Dr.K.Shanthi</span>
						</li>
						<li>
							<span class="desig col-md-6">Professional Development Education</span><span class = "pers">Dr.G.M.Samuel Knight</span>
						</li>
						<li>
							<span class="desig col-md-6">Ramanujan Computing Centre</span><span class = "pers">Dr.V.Rhymend Uthariaraj</span>
						</li>
						<li>
							<span class="desig col-md-6">Remote Sensing</span><span class = "pers">Dr.S.S.Ramakrishnan </span>
						</li>
						<li>
							<span class="desig col-md-6">Research</span><span class = "pers">Dr.R.Jayavel</span>
						</li>
						<li>
							<span class="desig col-md-6">Recruitment Cell</span><span class = "pers">Dr.M.Venkatesan </span>
						</li>
						<li>
							<span class="desig col-md-6">Student Affairs</span><span class = "pers">Dr.A.Elayaperumal </span>
						</li>
						<li>
							<span class="desig col-md-6">University Industry Collaboration</span><span class = "pers">Dr.T.Thyagarajan</span>
						</li>
						<li>
							<span class="desig col-md-6">University Library</span><span class = "pers">Dr.N.Rajendran</span>
						</li>
						<li>
							<span class="desig col-md-6">AU-TVS Centre for Quality Management</span><span class = "pers">Dr.K.Narashiman </span>
						</li>
						<li>
							<span class="desig col-md-6">Technology Development and Transfer</span><span class = "pers">Dr. J. Kumar </span>
						</li>
					</ul>
					<h2>Deputy Directors</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">Admissions</span><span class = "pers">Dr.H.Khanna Nehemiah</span>
						</li>
						<li>
							<span class="desig col-md-6">AU-FRG Institute for CAD/CAM</span><span class = "pers">Dr.K.Shanmugasundaram</span>
						</li>
						<li>
							<span class="desig col-md-6">Distance Education</span><span class = "pers">Dr.R.Magesh</span>
						</li>
						<li>
							<span class="desig col-md-6">Distance Education (MCA)</span><span class = "pers">Dr.S.Ravichandran </span>
						</li>
						<li>
							<span class="desig col-md-6">Distance Education (M.Sc)</span><span class = "pers">Dr.P.Nirmal Kumar</span>
						</li>
						<li>
							<span class="desig col-md-6">Distance Education (On-line Education)</span><span class = "pers">Dr.D.Arivudainambi</span>
						</li>
						<li>
							<span class="desig col-md-6">Entrepreneurship Development(Assistant Director)</span><span class = "pers">Dr.B.A.Muralidhar</span>
						</li>
						<br>
						<li>
							<span class="desig col-md-6">Entrepreneurship Development(Assistant Director)</span><span class = "pers">Mr.V.Lenin Kalyanasundaram</span>
						</li>
						<br>
						<li>
							<span class="desig col-md-6">International Affairs</span><span class = "pers">Dr.P.Valsalal	</span>
						</li>
						<li>
							<span class="desig col-md-6">Intellectual Property Rights</span><span class = "pers">Dr.S.Swamynathan</span>
						</li>
						<li>
							<span class="desig col-md-6">Knowledge Data Centre</span><span class = "pers">Dr.A.John Prakash</span>
						</li>
						<li>
							<span class="desig col-md-6">Intellectual Property Rights</span><span class = "pers">Dr.S.Swamynathan</span>
						</li>
					</ul>
			</div>
			</div>
			</div></div>
		</div>
			
		

		
