<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<center><h3>About Us</h3></center>
					<div class="list-group">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>

					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>

					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>

					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>

					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>

					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Cras justo odio
					  </button>
					  
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<img src="http://lorempixel.com/800/500/">
					<h2>Board of Directors</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				</div>
				<div class = "col-md-6 top-padd">
				<h2>University Administrators</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
				</ul>
				<h2>University Chairpersons</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
					<li>
						<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
					</li>
				</ul>
			</div>
			</div>
		</div>
			
		

		