<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="profile" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					  </a>
					  <a href="history" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	History of CEG
					  </button>
					</a>
					  <a href="mission" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Our Mission
					  </button>
					</a>
					  <a href="board" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Board of Directors
					  </button>
					  </a>
					  <a href="board#executive" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Executive Staff
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>History</h2>
					<img src="http://lorempixel.com/800/500/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
					<p>CEG was established in May of 1794, as a School of Survey with one student in a building near Fort St. George. Founded by Michael Topping, the school became the Civil Engineering School in 1858. Subsequently, CEG was established as a college in 1859 under the Madras University. It was then rechristened as College of Engineering in 1861 with the inclusion of the Mechanical Engineering course.</p>
				</div>
			</div>
		</div>
			
		

		
