<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:15px">
					<center><h3>About Us</h3></center>
					<div class="list-group">
					<a href="/about/mission"> 
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span><span class="cir"></span>
					  	Mission and Vision
					  </button>
					</a>

					<a href="/about/profile">	
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					</a>

					<a href="/about/history">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span><span class="cir"></span>
					  	History
					  </button>
					</a>
					
					<a href="/about/board">
					  <button type="button" class="list-group-item cus-but">
					  	<span class="ghost"></span><span class="cir"></span>
					  	Board of Directors
					  </button>
					</a>

					<a href="/galleries">
						<button type="button" class="list-group-item cus-but">
							<span class="ghost"></span><span class="cir"></span>
						  	Gallery
						</button>
					</a>

					  
					  
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<img src="http://lorempixel.com/600/400/">
					<h2>Mission</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				</div>
			</div>
		</div>
			
		

		
