<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="profile" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					  </a>
					  <a href="history" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	History of CEG
					  </button>
					</a>
					  <a href="mission" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Our Mission
					  </button>
					</a>
					  <a href="board" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Board of Directors
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Mission and Vision</h2>
					<img src="/assets/aboutus.jpg" width="840px" height="300px" >
					<br/>
					<h2 id="vision">Vision:</h2>
					<p><strong>Anna University</strong> shall strive towards a World Class Institution by producing professionals with high technical knowledge, professional skills and ethical values. The University shall be a preferred partner to the industry and community for contribution towards their economic and social development by providing high quality manpower through excellence in teaching, research and consultancy. Anna University shall be recognized as a point of reference, a catalyst, a facilitator, a trend setter and a leader in technical education.</p>
					<h2 id = "mission">Mission:</h2>
					<p>Anna University shall contribute to the educational, economic and social development by:</p>
					<ul class="quick-links" >
					<li><span class="get-grey">Producing students who are intellectually and technically equipped with well-defined knowledge, skills and ethics who are creative thinkers, inspiring leaders and contributing citizens.</span></li>
					<li><span class="get-grey">Introducing high quality academic and research programs and providing extension services in cutting edge technologies</span></li>
					<li><span class="get-grey">Ensuring a supportive campus climate with dynamic leadership and development opportunities to meet the needs of the students, faculty and staff.</span></li>
					<li><span class="get-grey">Enhancing academic productivity through induction of quality, accelerated graduated, credit banking, augmented continuing education opportunities and adoption of current technology.</span></li>
					<li><span class="get-grey">Sharing the intellectual resources and infrastructural facilities among the academia from other institutions among the industrial society, funding agencies and government.</span></li>
					<li><span class="get-grey">Enhancing the collaborative partnership between Industry and Institute for commercializing and transferring the latest technological know-how towards societal development.</span></li>
					<li><span class="get-grey">Setting up a Global University Network Campus that embodies the ideals of an open, democratic and global society catering to the needs of the global community and satisfying cultural, ethnic and racial diversity.</span></li>
					<li><span class="get-grey">Expanding global participation spread across continents wit the aid of interactive satellite based education and the usage of digital library.</span></li>
					<li><span class="get-grey">Enriching the national and international character of the university.</span></li>
					<li><span class="get-grey">Ensuring efficient administrative co-ordination and effective decision-making through necessary reforms and by strategically allocating resources.</span></li>
					<li><span class="get-grey">Benchmarking against technologically sound global leaders with a view towards continuous improvement. </span></li>
				</ul>
				</div>
			</div>
		</div>
			
		

		
