<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="profile" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Profile
					  </button>
					  </a>
					  <a href="history" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	History of CEG
					  </button>
					</a>
					  <a href="mission" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Mission & Vision
					  </button>
					</a>
					  <a href="board" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Administrators
					  </button>
					  </a>
					  
					</div>
				</div>
					<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Profile</h2>
					<img src="/assets/about_us/profile.jpg" width="840px" height="300px" >
					<p>Located in the heart of Chennai city, the sprawling campus of the <strong> College of Engineering, Guindy (CEG)</strong> with cutting edge infrastructure has been the foundation for many a successful engineer, scholar, and leader. The University offers 18 UG, 35 PG (Regular) and 34 PG Self-supporting courses. CEG has 16 Departments, 6 University Affiliated Centres, and 12 Research Centres where research programs are offered. With close ties with industry, excellent research practices and multiple extra-curricular options, the institution advances the progression of the student's quest for knowledge. The faculty along with the excellent student population makes the campus one of the best places to study in the nation. </p>
				</div>
			</div>
		</div>
			
		