<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Research</h3>
					<div class="list-group"><a href="doing" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Doing Research in CEG
					  </button>
					  </a>
					  <a href="https://cfr.annauniv.edu/research/" target="_blank"class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Research Administration
					  </button>
					</a>
					  <a href="centres" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Decicated Research Centres
					  </button>
					</a>
					  <a href="irt" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Integrated Research & Training
					  </button>
					  </a>
					  <a href="library" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Libraries
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Dedicated Research Centres</h2>
					<img src="/assets/researchcentres.jpg" width="840px" height="300px" >
					<p>CEG engages the research scholars in extensive research activities that extend beyond classrooms. Various specialized Research Centres, with highly experienced faculty, are located around the campus that provides facilities to undertake research in any chosen sphere. Apart from prioritized academic focus, research centres are integral to the comprehensive knowledge CEG aims to provide.</p>
					<ul class = "quick-links">
						<li>
							<a href="http://ctdt.annauniv.edu/" target="_blank" >AU­FRG Institute for CAD/CAM</a>
						</li>
						<li>
							<a href="http://ctdt.annauniv.edu/" target="_blank">Centre for Technology Development and Transfer</a>
						</li>
						<li>
							<a href="http://www.annauniv.edu/emmrc/" target="_blank">Educational Multimedia Research Centre</a>
						</li>
						<li>
							<a href="http://www.au-kbc.org/" target="_blank">AU­KBC Research Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CGC/index.php" target="_blank">Crystal Growth Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/EnergyStudies/index.html" target="_blank">Institute for Energy Studies</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/BiotechCentre/" target="_blank">Centre for Biotechnology</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CNST/nano_index.html" target="_blank">Centre for Nano Science and Technology</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CEM/index.php" target="_blank">Civil / Electrical Minor Works Cell</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/Building/index.php" target="_blank">Building Technology Centre</a>
						</li>
						<li>
							<a href="http://www.nhhid.org/" target="_blank">NHHID ­ National Hub for Healthcare Intrumentation Development</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CARIT/index.php" target="_blank">Centre for Applied Research in Indic Technologies</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CCAR/index.html" target="_blank">Centre for Climate Change and Adaptation Research</a>
						</li>
						<li>
							<a href="http://www.annauniv.edu/CHS/index.html" target="_blank">Centre for Human Settlements</a>
						</li>
						<li>
							<a href="#" target="_blank">AU Patriotic and People Oriented Science and Technology Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/TCCA/index.html" target="_blank">Training Centre for Career Advancement</a>
						</li>
						<li>
							<a href="http://www.annauniv.edu/cpees" target="_blank">Centre with Potential for Excellence in Environmental Science</a>
						</li>
						<li>
							<a href="http://www.annauniv.edu/uec/" target="_blank">AU­RU Urban Energy Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/CentreTamil/index.php" target="_blank">Centre for Development of Tamil in Engg.&Technology</a>
						</li>
					</ul>
					<h2>Student Affairs</h2>
					<ul class="quick-links">
						<li>
							<a href="http://www.aukdc.edu.in/" target="_blank">Knowledge Data Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/WomenEmpCentre/index.php" target="_blank">Centre for Women Empowerment</a>
						</li>
						<li>
							<a href="http://www.auced.in/" target="_blank">Centre for Entrepreneurship Development</a>
						</li>
						<li>
							<a href="http://www.annauniv.edu/cde/" target="_blank">Centre for Distance Education</a>
						</li>
						<li>
							<a href="http://cqm.annauniv.edu/" target="_blank">AU­TVS Center for Quality Management</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/logistics/index.php" target="_blank">Logistic Centre</a>
						</li>
						<li>
							<a href="https://www.annauniv.edu/ipr/index.php" target="_blank">Centre for Intellectual Property Rights</a>
						</li>
					</ul>
				</div>
			</div>
</div>
			
		

		
