<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Research</h3>
					<div class="list-group"><a href="doing" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Doing Research in CEG
					  </button>
					  </a>
					  <a href="https://cfr.annauniv.edu/research/" target="_blank" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Research Administration
					  </button>
					</a>
					  <a href="centres" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Decicated Research Centres
					  </button>
					</a>
					  <a href="irt" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Integrated Research & Training
					  </button>
					  </a>
					  <a href="library" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Libraries
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Doing Research in CEG</h2>
					<img src="/assets/doingresearch.jpg" width="840px" height="300px" >
					<p>As one of the oldest engineering institutions in the country, CEG has a rich tradition of research, and is dedicated to furthering the frontiers of technology and engineering. Around 13,000 research scholars, pursuing their Ph.D. and M.S./M.Tech. at CEG, are afforded a range of opportunities to explore their fields, under the guidance of over 2500 top researchers, and with access to state­of­the­art infrastructure. Often called upon by the Tamil Nadu and Indian government for research purposes, students will work towards sustainable solutions to real world problems. One of the many achievements brought about by the diligence of CEG's research body, is the launch of the indigenously built microsatellite, ANUSAT, the first such satellite to be built by an Indian university. Under the aegis of ISRO, students and faculty worked tirelessly to build, launch and operate the satellite. CEG is hence the nexus of technology and some of the brightest minds of the country, truly encouraging to an atmosphere of progressive research.</p>
				</div>
			</div>
</div>
			
		

		
