<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>About Us</h3>
					<div class="list-group"><a href="doing" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Doing Research in CEG
					  </button>
					  </a>
					  <a href="adminstration" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Research Administration(Centre for Research)
					  </button>
					</a>
					  <a href="centres" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Decicated Research Centres
					  </button>
					</a>
					  <a href="irt" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Integrated Research & Training (Acad. Depts.)
					  </button>
					  </a>
					  <a href="library" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Libraries
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Integrated Research and Training (Acad. Depts)</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
					<ul class = "quick-links">
						<li>
							<span class="desig">AU­FRG Institute for CAD/CAM</span>
						</li>
						<li>
							<span class="desig">Centre for Technology Development and Transfer</span>
						</li>
						<li>
							<span class="desig">Educational Multimedia Research Centre</span>
						</li>
						<li>
							<span class="desig">AU­KBC Research Centre</span>
						</li>
						<li>
							<span class="desig">Crystal Growth Centre</span>
						</li>
						<li>
							<span class="desig">Institute for Energy Studies</span>
						</li>
						<li>
							<span class="desig">Centre for Biotechnology</span>
						</li>
						<li>
							<span class="desig">Centre for Nano Science and Technology</span>
						</li>
						<li>
							<span class="desig">Civil / Electrical Minor Works Cell</span>
						</li>
						<li>
							<span class="desig">Building Technology Centre</span>
						</li>
						<li>
							<span class="desig">NHHID ­ National Hub for Healthcare Intrumentation Development</span>
						</li>
						<li>
							<span class="desig">Centre for Applied Research in Indic Technologies</span>
						</li>
						<li>
							<span class="desig">Centre for Climate Change and Adaptation Research</span>
						</li>
						<li>
							<span class="desig">Centre for Human Settlements</span>
						</li>
						<li>
							<span class="desig">AU Patriotic and People Oriented Science and Technology Centre</span>
						</li>
						<li>
							<span class="desig">Training Centre for Career Advancement</span>
						</li>
						<li>
							<span class="desig">Centre with Potential for Excellence in Environmental Science</span>
						</li>
						<li>
							<span class="desig">AU­RU Urban Energy Centre</span>
						</li>
						<li>
							<span class="desig">Centre for Development of Tamil in Engg.&Technology</span>
						</li>
					</ul>
					<h2>Student Affairs</h2>
					<ul class="quick-links">
						<li>
							<span class="desig">Knowledge Data Centre</span>
						</li>
						<li>
							<span class="desig">Centre for Women Empowerment</span>
						</li>
						<li>
							<span class="desig">Centre for Entrepreneurship Development</span>
						</li>
						<li>
							<span class="desig">Centre for Distance Education</span>
						</li>
						<li>
							<span class="desig">AU­TVS Center for Quality Management</span>
						</li>
						<li>
							<span class="desig">Logistic Centre</span>
						</li>
						<li>
							<span class="desig">Centre for Intellectual Property Rights</span>
						</li>
					</ul>
				</div>
			</div>
</div>
			
		

		
