<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Research</h3>
					<div class="list-group"><a href="doing" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Doing Research in CEG
					  </button>
					  </a>
					  <a href="https://cfr.annauniv.edu/research/" target="_blank"class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Research Administration
					  </button>
					</a>
					  <a href="centres" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Decicated Research Centres
					  </button>
					</a>
					  <a href="irt" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Integrated Research & Training
					  </button>
					  </a>
					  <a href="library" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Libraries
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Library</h2>

					<img src="/assets/research/library.jpg" width="840px" height="300px" >
					<p>The CEG Library provides students with access to a vast collection of books and journals, in the order of over 1.5 lakh, and digital learning services. The library also offers access to a range of exclusive e-books and e-journals, which can be accessed in the library through the Digital Knowledge Centre.Besides the central library, the various academic departments have their own libraries that expand the availability of department-specific books available to their students.</p>
					<a href="https://www.annauniv.edu/Library/index.html" class="pull-right" target="_blank">see more>></a>
				</div>
			</div>
</div>
			
		

		
