<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Admission</h3>
					<div class="list-group"><a href="ug" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Under Graduation
					  </button>
					  </a>
					  <a href="pg" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Post Graduation
					  </button>
					</a>
					  <a href="nri" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	NRI and Foreign Nationals
					  </button>
					</div>
				</div>
					<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>NRI and Foreign National</h2>
					<img src="http://lorempixel.com/800/500/">
					<p>In keeping with CEG's aim of imparting education on par with global standards, the college provides outstanding students belonging to the NRI/CIWGC/Foreign National (FN) categories, top­notch academic and extra-curricular facilities, as well as comfortable accommodation. Students are supervised by senior faculty members to ensure open communication with their parents/guardians, and that their needs are addressed appropriately. </p>
				</div>
			</div>
		</div>
			
		