<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Admission</h3>
					<div class="list-group"><a href="ug" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Under Graduation
					  </button>
					  </a>
					  <a href="pg" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Post Graduation
					  </button>
					</a>
					  <a href="nri" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	NRI and Foreign Nationals
					  </button>
					</div>
				</div>
					<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Post Graduation</h2>
					<img src="/assets/ceghostel.jpg" width="840px" height="300px" >
					<p>In CEG, graduate students collaborate with top academicians in their respective
					fields, with years of experience behind them, to push the technological envelope and aid in the understanding of the world. With great scope for research and cutting edge facilities, students have access to resources that enable them to work with premier research institutes. The CEGian thus has access to an unparalleled student experience across academic environments. </p>
				</div>
			</div>
		</div>
			
		