<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Admission</h3>
					<div class="list-group"><a href="ug" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Under Graduation
					  </button>
					  </a>
					  <a href="pg" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Post Graduation
					  </button>
					</a>
					  <a href="nri" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	NRI and Foreign Nationals
					  </button>
					</div>
				</div>
					<div class="col-md-9 top-padd" style="margin-top:50px">
					<h2>Under Graduation</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
					<p>CEG is a renowned educational and research institute, historically dedicated
					to the pursuit of advancement in science and engineering. Students are continuously exploring new avenues of knowledge, guided by knowledgeable and experienced faculty. Outside academia, CEGians pursue their passions in writing, theatre, robotics and much more through a variety of clubs, attuning themselves to the world around them and emerging as well rounded students. A stellar placement record reflects CEG’s commitment for great career to all it’s students. </p>
				</div>
			</div>
		</div>
			
		