<div class="container top-pad">
			<div class="row">
				<div class="row col-md-3">	
					<div class="col-md-12 top-padd" style="margin-top:50px">
						<h3>Campus Life</h3>
						<div class="list-group"><a href="services" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Student Services
						  </button>
						  </a>
						  <a href="facilities" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Facilities
						  </button>
						</a>
						  <a href="festivals" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Festivals
						  </button>
						</a>
						  <a href="clubs" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Clubs and Societies
						  </button>
						  </a>
						  <a href="sports" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Sports
						  </button>
						  </a>
						  <a href="isrp" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Institutional Social Responsibility Programs
						  </button>
						  </a>
						  <a href="hnd" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Housing and Dining
						  </button>
						  </a>
						</div>
					</div>
					<div class="col-md-12 top-padd" style="background-color: #F5F5F5;">
						<style type="text/css">
								.alinksmall a{
									font-size: 14px!important;
								}
							</style>
						<center></center><h3>QUICKLINKS</h3></center>
						<hr style="height:1px;border:none;color:#a8a8a8;background-color:#a8a8a8;">
						<ul class="quick-links alinksmall">
							<li>
								<a href="#c1">Students Association of CEG</a>
							</li>
							<li>
								<a href="#c2">Arts Society of CEG</a>
							</li>
							<li>
								<a href="#c3">CEG Tech Forum</a>
							</li>
							<li>
								<a href="#c4">Guindy Times</a>
							</li>
							<li>
								<a href="#c5">Literacy Club of Anna University</a>
							</li>
							<li>
								<a href="#c6">Robotics</a>
							</li>
							<li>
								<a href="#c7">Rotaract Club of CEG</a>
							</li>
							<li>
								<a href="#c8">Capitalize</a>
							</li>
							<li>
								<a href="#c9">Quizzers Anonymous</a>
							</li>
							<li>
								<a href="#c10">Theatron</a>
							</li>
							<li>
								<a href="#c11">Siruthuligal</a>
							</li>
							<li>
								<a href="#c12">CSAU</a>
							</li>
							<li>
								<a href="#c13">Mathavam</a>
							</li>
							<li>
								<a href="#c14">Saptham</a>
							</li>
							<li>
								<a href="#c15">Spartanz</a>
							</li>
							<li>
								<a href="#c16">Twisters</a>
							</li>
							<li>
								<a href="#c17">Leo Club</a>
							</li>
							<li>
								<a href="#c18">Green Brigade</a>
							</li>
							<li>
								<a href="#c19">Sruthilaya</a>
							</li>
							<li>
								<a href="#c20">Aakrithi</a>
							</li>
							<li>
								<a href="#c21">SCI</a>
							</li>
							<li>
								<a href="#c22">SQC</a>
							</li>
						</ul>
						<hr style="height:1px;border:none;color:#a8a8a8;background-color:#a8a8a8;">
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Clubs and Societies</h2>
					<img src="/assets/campus_life/clubs.jpg" width="840px" height="300px" >

					<h2 id="c1">Students Association of CEG</h2>
					<p>The Students Association of CEG, generally abbreviated as SA-CEG is the official
					student representative body of the institution. SA-CEG is being empowered by an 
					ardent set of 6 office bearers who are elected every academic year by the class 
					representatives and one office bearer nominated by the sports board of the campus.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c2">Arts society of CEG</h2>
					<p>The Students Association of CEG, generally abbreviated as SA-CEG is the official
					student representative body of the institution. SA-CEG is being empowered by an 
					ardent set of 6 office bearers who are elected every academic year by the class 
					representatives and one office bearer nominated by the sports board of the campus.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c3">CEG Tech Forum</h2>
					<p>The CEG Tech Forum, was convened to nurture the scientific temper of the student populace. Engineering projects pertaining to the needs of the society are an integral part of the successful ventures undertaken by CTF. The forum also organizes Kurukshetra, one of the biggest techno-management events of the country.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c4">Guindy Times</h2>
					<p>The Guindy Times is the official campus magazine of CEG, AC Tech and SAP. This students' magazine is a media body which aims to provide regular updates regarding all the happenings of the college.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c5">Literary Club of Anna University</h2>
					<p>The literary club seeks to nurture the literary talents of the students. It conducts various inter- and intra- college events and training activities through the year in this sphere.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c6">Robotics Club</h2>
					<p>With an untiring motive of pervading the knowledge of Robotics among the students, the robotics club conducts various workshops and courses through the year.Further, internship opportunities are provided for excelling candidates.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c7">Rotaract Club of CEG</h2>
					<p>The Rotaract club seeks to improve the leadership and professional skills of the students in addition to moulding them into responsible individuals. They organize various events that foster the spirit of social responsibility. </p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c8">Capitalise</h2>
					<p>A wing of the entrepreneur development cell of CEG, capitalize enables the interested to take informed decisions to bring in successful entrepreneur and students on a common platform.Further, the club motivates the members on various dimensions of industry to nurture the latent entrepreneurial talent.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c9">Quizzers Anonymous</h2>
					<p>The quiz club is dedicated to preparing and conducting quality quizzing events and training sessions to nurture the quizzing skills in students host competitions that assess the quizzers in various fields of knowledge and arts.  </p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c10">Theatron</h2>
					<p>As the official theatre club of CEG, Theatron produces plays while maintaining a commitment to living playwrights and taking a comprehensive approach to artistic development and arts education. Its mission and values give CEG a unique place in Indian theatre.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c11">Siruthuligal</h2>
					<p>An entirely student volunteered club, siruthuligal aims to provide financial aid for academic and medical purposes to the students. </p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c12">CSAU</h2>
					<p>With the primary aim to enhance students’ knowledge in the field of computer science, this club conducts various workshops and courses through the year.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c13">Mathavam</h2>
					<p> Mathavam is the association of the Tamil enthusiasts of the college. With a shared love for literature and language, this club brings a pool of talent for utilization.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c14">Saptham</h2>
					<p>Seeking to encourage students in the field of classical performing arts, Saptham provides ample opportunities to students to showcase their singing and dancing talents.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c15">Spartanz</h2>
					<p> The official variety show troupe of the college
					 help students exhibit their talents and passion for street theater
					</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c16">Twisters</h2>
					<p>The official dance troupe of CEG, with extremely high reputation in the city for excellence in performance and creativity, train and encourage the interested with distinctive dance techniques.</p>	
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c17">LEO Club of CEG</h2>
					<p>The Leo club focusses on enhancing the leadership skills of the students along with providing varied opportunities and experiences for all around improvement.</p>
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c18">Green Brigade</h2>
					<p>Green brigade is the only non-technical club of CEG that aims to promote environmental awareness. It also organizes various events in association with other NGOs that work for similar causes.</p>	
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c19">Sruthilaya	</h2>
					<p>With shared interest and passion in music, sruthilaya functions as the official band of CEG. Influenced by indian, western and regional pop, the band performs multiple genres and has acquired high acclaim by winning various competitions.</p>	
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c20">Aakrithi</h2>
					<p>An exclusive all women’s club, Aakrithi seeks to reach out and help in the holistic development of the girls, in all facets.</p>	
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c21">SCI</h2>
					<p>The Students Creativity and Innovation lab functions in a way which ultimately develops creativity and innovation into students, making them to stand out in a crowd.</p>	
					<a class="pull-right" href="#">see more>>></a>

					<h2 id="c22">SQC</h2>
					<p>The Students Quality Club is a forum to empower the students to significantly improve their personal and professional effectiveness, by offering opportunities to enable them to have a first hand industry experience.</p>	
					<a class="pull-right" href="#">see more>>></a>
			</div>
			</div>
</div>
		
			
		

		
