<div class="container top-pad">
			<div class="row">
				<div class="row col-md-3">	
					<div class="col-md-12 top-padd" style="margin-top:50px">
						<h3>Campus Life</h3>
						<div class="list-group"><a href="services" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Student Services
						  </button>
						  </a>
						  <a href="facilities" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Facilities
						  </button>
						</a>
						  <a href="festivals" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Festivals
						  </button>
						</a>
						  <a href="clubs" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Clubs and Societies
						  </button>
						  </a>
						  <a href="sports" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Sports
						  </button>
						  </a>
						  <a href="isrp" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Institutional Social Responsibility Programs
						  </button>
						  </a>
						  <a href="hnd" class="button">
						  <button type="button" class="list-group-item cus-but">
						  <span class="ghost"></span><span class="cir"></span>
						  	Housing and Dining
						  </button>
						  </a>
						</div>
					</div>
					<div class="col-md-12 top-padd" style="background-color: #F5F5F5;">
						<h3>QUICKLINKS</h3>
						<ul class="quick-links">
							<li>
								<a href="#c1">Robotics Clubs</a>
							</li>
							<li>
								<a href="#c2">CTF</a>
							</li>
							<li>
								<a href="#">LINK</a>
							</li>
							<li>
								<a href="#">LINK</a>
							</li>
							<li>
								<a href="#">LINK</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Clubs and Societies</h2>
					<img src="http://lorempixel.com/600/400/">
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					<h2 id="c1">Robotics Club</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">Vice-Chancellor</span><span class = "pers">Dr. M. Rajaram</span>
						</li>
						<li>
							<span class="desig col-md-6">Registrar</span><span class = "pers">Dr.S.Ganesan</span>
						</li>
						<li>
							<span class="desig col-md-6">Additional Registrar</span><span class = "pers">Dr.S.Selladurai</span>
						</li>
						<li>
							<span class="desig col-md-6">Director (Planning and Development)</span><span class = "pers">Dr.A.Peer Mohamed</span>
						</li>
						<li>
							<span class="desig col-md-6">Private Secretary to V.C</span><span class = "pers">Dr.B.S.Lakshmi</span>
						</li>
					</ul>
					<h2 id="c2">CEG Tech Forum</h2>
					<ul class = "quick-links">
						<li>
							<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
						</li>
						<li>
							<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
						</li>
						<li>
							<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
						</li>
						<li>
							<span class="desig col-md-6">Dean</span><span class = "pers">Muthu</span>
						</li>
					</ul>
			</div>
			</div>
</div>
		
			
		

		
