<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Campus Life</h3>
					<div class="list-group"><a href="services" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Student Services
					  </button>
					  </a>
					  <a href="facilities" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Facilities
					  </button>
					</a>
					  <a href="festivals" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Festivals
					  </button>
					</a>
					  <a href="clubs" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Clubs and Societies
					  </button>
					  </a>
					  <a href="sports" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Sports
					  </button>
					  </a>
					  <a href="isrp" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Institutional Social Responsibility Programs
					  </button>
					  </a>
					  <a href="hnd" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Housing and Dining
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Facilities</h2>
					<img src="http://lorempixel.com/600/400/" class="col-md-12 col-sm-12 col-xs-12 main-img" >
				<h2>Computing</h2>
				<p>Equipping students and faculty alike with Internet services, CEG houses specialized computing centre to satisfy all the computational and technological requirements. With high end computing nodes and other advanced laboratories, the computing centres provides enhanced facilities to the students. In addition to this, is a knowledge data centre, aims to promote excellence in teaching, research and governance by providing software and technology resources.</p>
				<a href="https://www.annauniv.edu/rcc/facilities.php" class="pull-right">see more>></a>
				<h2>Library</h2>
				<p>The CEG Library provides students with access to a vast collection of books and journals, in the order of over 1.5 lakh, and digital learning services. The library also offers access to a range of exclusive e-books and e-journals, which can be accessed in the library through the Digital Knowledge Centre.</p>
				<p>Besides the central library, the various academic departments have their own libraries that expand the availability of department-specific books available to their students.</p>
				<a href="https://www.annauniv.edu/Library/index.html" class="pull-right">see more>></a>
				<h2>Health Centre</h2>
				<p>With experienced doctors and staff on call, aided by modern lab equipments, CEG's Health Centre is equipped to handle the medical needs of the students. Consultation is free for all the students and employees. Additionally, an ambulance service is available to attend to emergencies. The health centre is also responsible for conducting comprehensive health checks for the benefit of the students of CEG. </p>
				<a href="https://www.annauniv.edu/HealthCentre/" class="pull-right">see more>></a>
				<h2>Student Facilities and Services</h2>
				<ul class = "quick-links">
					<li>
						<span class="desig">Wifi:</span>
						<p>CEG provides campus-wide, high-speed WiFi services for students to stay connected to the Internet and be an active part of the digital age. </p>
					</li>
					<li>
						<span class="desig">Student Amenities Centre:</span>
						<p>The SAC provides several services to fulfill student needs that include facilities to take printouts, photocopies, as well as to do their laundry. 	</p>
					</li>
					<li>
						<span class="desig">Co-Operative Society:</span>
						<p>Initiated between the government of Tamil Nadu and CEG, the Co-Op Society has made it possible for all students to avail their basic stationary items and other academic paraphernalia at a subsidised rate. </p>
					</li>
					<li>
						<span class="desig">Travel Agency</span>
						<p>The on-campus travel agency provides a convenient facility for students' travel needs, whether it be bus, train or air tickets.</p>
					</li>
					<li>
						<span class="desig">Banking Facilities</span>
						<p>A number of banks and ATMs are located around the college to satisfy the banking requirements of the students and faculty alike.</p>
					</li>
					<li>
						<span class="desig">Sports Facilities Available Include</span>
						<ul class = "quick-links">
							<li>
								<p>large open playgrounds</p>
							</li>
							<li>
								<p>athletic tracks</p>
							</li>
							<li>
								<p>courts and arenas</p>
							</li>
							<li>
								<p>gymnasiums</p>
							</li>
							<li>
								<p>swimming pool</p>
							</li>
						</ul>
					</li>
					<li>
						<span class="desig">Dining Facilities Available Include</span>
						<ul class = "quick-links">
							<li>
								<p>the CEG Canteen</p>
							</li>
							<li>
								<p>cafeterias</p>
							</li>
							<li>
								<p>restaurants</p>
							</li>
						</ul>
					</li>
					<li>
						<span class="desig">On-campus stores Include</span>
						<ul class = "quick-links">
							<li>
								<p>the co-operative store</p>
							</li>
							<li>
								<p>departmental stores</p>
							</li>
							<li>
								<p>shoe mart</p>
							</li>
							<li>
								<p>stationary stores</p>
							</li>
						</ul>
					</li>
					<li>
						<span class="desig">Other facilities Include</span>
						<ul class = "quick-links">
							<li>
								<p>barber shop</p>
							</li>
							<li>
								<p>tailors</p>
							</li>
							<li>
								<p>STD/ISD booths</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			</div></div>
		</div>
			
		

		
