<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Campus Life</h3>
					<div class="list-group"><a href="services" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Student Services
					  </button>
					  </a>
					  <a href="facilities" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Facilities
					  </button>
					</a>
					  <a href="festivals" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Festivals
					  </button>
					</a>
					  <a href="clubs" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Clubs and Societies
					  </button>
					  </a>
					  <a href="sports" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Sports
					  </button>
					  </a>
					  <a href="isrp" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Institutional Social Responsibility Programs
					  </button>
					  </a>
					  <a href="hnd" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Housing and Dining
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Festivals</h2>
					<img src="/assets/campus_life/festivals.jpg" width="840px" height="300px" >
				<h2>Agni</h2>
				<p>Agni, an intra-college event, is the first of the cultural extravaganzas on CEG's academic calendar, taking place typically during August or September.</p>
				<p>Agni takes place over a course of 3 days, with a wide range of cultural events and fun workshops that open up previously unexplored avenues to the new CEGians, along with celebratory pro-nights. Agni thus introduces CEG's freshers to the incredible talent our students bring to the table.</p>
				<a href="http://agni15.in/#" class="pull-right">see more>></a>
				<h2>Kurukshetra(K!)</h2>
				<p>The reputation of CEG as a premier technical institution is evidenced by the brilliance of its student body. Kurukshetra, CEG's inter-college techno-management festival, upholds that reputation and takes pride in being the first ever techno-management college fest in India to obtain UNESCO patronage. K! sees thousands of students from all over the country pour into CEG to showcase their skills and utilize the learning platform.</p>
				<p>Kurukshetra is hosted for 4 days in January, and is packed with a range of events. Technical quizzes, mind-bending games, paper presentations and more see students prove their worth in the face of steep competition. Technical workshops, Guest lectures etc. conducted by several influential technology organizations, provide students with opportunities to expand their knowledge beyond the norm. </p>
				<a href="http://kurukshetra.org.in/" class="pull-right">see more>></a>
				<h2>Techofes</h2>
				<p>CEGians work hard, but they play just as hard. Techofes, CEG's inter-college cultural fest was founded in 1948 and is South India's biggest cultural festival. Held over a period of 4 days and 3 nights on February, Techofes is a celebration of CEG's artistic, literary and cultural traditions. </p>
				<p>Techofes sees an exciting array of events from quizzes and debates to dance and musical competitions. Innovative workshops on dance, photography, graphic designing, DJing etc. kindles the interest in diverse fields of arts for the applicants. Participants also take some downtime in gaming arenas, outdoor activities and more. The main attractions include Pro-nite and Choreo-nite. Finalists of singing, dancing, and street play competitions perform for an audience of 15,000 in the open-air theatre of CEG and are judged by renowned choreographers.</p>
				<a href="#" class="pull-right">see more>></a>
				<h2>Sangarsh</h2>
				<p>Sangarsh, organized by the Rotaract Club of CEG and under the patronage of prominent celebrities, is an annual musical concert aimed at raising funds for the needy sections of the society. The event has helped in contributing to social causes such as the aid of physically and mentally challenged, cancer patients, polio, HIV stricken etc.</p>
				<a href="http://www.sangarsh.org/" class="pull-right">see more>></a>
			</div>
			</div></div>
		</div>
			
		

		
