<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:50px">
					<h3>Campus Life</h3>
					<div class="list-group"><a href="services" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Student Services
					  </button>
					  </a>
					  <a href="facilities" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Facilities
					  </button>
					</a>
					  <a href="festivals" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Festivals
					  </button>
					</a>
					  <a href="clubs" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Clubs and Societies
					  </button>
					  </a>
					  <a href="sports" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Sports
					  </button>
					  </a>
					  <a href="isrp" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Institutional Social Responsibility Programs
					  </button>
					  </a>
					  <a href="hnd" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Housing and Dining
					  </button>
					  </a>
					</div>
				</div>
				<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2>Student Services</h2>
					<img src="/assets/campus_life/student_services.jpg" width="840px" height="300px" >
				<h2>SC/ST Cell</h2>
				<p>SC/ST Cell is a special administrative unit set up in accordance with the guidelines prescribed by the UGC to address the needs of SC/ST/OBC students. The cell aims to assist students in securing financial aid and scholarships specific to their requirements. It also provides remedial coaching to improve the student's academic performance. Additionally, the Cell maintains the SC/ST Book Bank that issues books semester-wise to students. </p>
				<a href="https://www.annauniv.edu/scstcell/index.php" class="pull-right">see more>></a>
				<h2>Anti Ragging</h2>
				<p>Ragging of any form is strictly prohibited in CEG. Ragging includes, but is not limited to teasing, abusing, causing physical harm or playing practical jokes on to a student. Punishment for the students indulging in the above may include</p>
				<ul class = "quick-links">
					<li>
						<p>Two years imprisonment</p>
					</li>
					<li>
						<p>Fine to the tune of Rs.2.5 lakhs</p>
					</li>
					<li>
						<p>Dismissal from the educational institution</p>
					</li>
					<li>
						<p>Shall not be admitted in any other educational institution </p>
					</li>
				</ul>
				<p>CEG takes strict measures, including patrols and regular checks, to ensure that all its students are in a safe environment, and no such untoward incidents occur. </p>
			</div>
			</div></div>
		</div>
			
		

		
